
<form method="post" action="/registerEmployee/{{employee.id}}?_method=PUT">
<input type="hidden" name="_method" value="PUT">
<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
  <h3>Edit</h3>
  <div class="form-group">
    <label>First Name</label>
    <input class="form-control" type="text" name="fname" placeholder="Name" value="{{employee.First_Name}}">
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input class="form-control" type="text" name="lname" placeholder="Name" value="{{employee.Last_Name}}">
  </div>

  <div class="form-group">
    <label>Gender</label>
    <input class="form-control" type="text" name="gender" value="{{employee.Gender}}" >
  </div>

  <div class="form-group">
    <label>Date of Birth</label>
    <input class="form-control" type="text" name="birth" value="{{employee.Date_of_birth}}">
  </div>

  <div class="form-group">
    <label>City</label>
    <input class="form-control" type="text" name="city" placeholder="e.g. Košice" value="{{employee.City}}">
  </div>

  <div class="form-group">
    <label>Address</label>
    <input class="form-control" type="text" name="address" placeholder="e.g. Komenského 2" value="{{employee.Address}}">
  </div>

  <div class="form-group">
    <label>ZIP Code</label>
    <input class="form-control" type="text" name="zipcode" placeholder="04001" value="{{employee.Code}}">
  </div>

  <div class="form-group">
    <label>Email Address</label>
    <input class="form-control" type="email" name="email" placeholder="e.g. example@gmail.com" value="{{employee.email}}">
  </div>

  <div class="form-group">
    <label>Phone Number</label>
    <input class="form-control" type="text" name="phoneNumber" placeholder="0910 xxx xxx" value="{{employee.phonenumber}}">
  </div>

   <div class="form-group">
    <label>Card Id</label>
    <input class="form-control" type="text" name="cardId" placeholder="0910 xxx xxx" value="{{employee.cardId}}">
  </div>
  <button class="btn btnsave" type="submit" value="Save">Save</button>

  {{!-- <div class="form-group">
    <label>Photo</label>
    <input class="form-control" type="file" name="profilephoto">
  </div>  --}}

</div>
</form>