<div class="col-md-10 col-md-offset-1">
        {{#if user}}
         <div id="tabs">
            <button class="tab active" id="defaultOpen" onclick="openMe('first')" >Access point 1</button>           
            <button class="tab tab-two" onclick="openMe('second')" >Access point 2</button>
            <button class="tab" onclick="openMe('third')" >Access point 3</button>
         </div>
        
        <div id="first" class="content">
             <ul class="people_list">

 
<table class="table ">
<tr>
  <td>Photo</td>
  <td>First Name</td>
  <td>Last Name</td>
  <td>Access Time</td>
</tr>
 {{#each data}}
<tr>
  <td><span><img src="../{{this.profilephoto}}" width="50" height="50" class="img-responsive"></span></td>

  <td><span>{{this.First_Name}}</span></td>
 
  <td><span>{{this.Last_Name}}</span></td>
  
  <td><span>{{this.Access_time}}</span></td>

  
</tr>

  {{/each}}
</table>

</ul>    

        </div>
        <div id="second" class="content">
            <p></p>
        </div>
        <div id="third" class="content">
            <p></p>
        </div>
        </div>
        
{{else}}
<img  src="public/img/home-pic.png" class="img-responsive" alt="Generic placeholder thumbnail">
{{/if}}


<script src="/public/js/script.js"></script>
