<div class="row">
    <div class="container">
    <div class="col-sm-6 col-md-6">
        <div class="employeename">
            <img src="../{{employee.profilephoto}}" width="120" height="120" class="img-responsive">
             
        <h3>{{employee.First_Name}} {{employee.Last_Name}}</h3>
        </div>
        <p class="titles">Info</p>
        <span>Gender: {{employee.Gender}}</span>
        <span>Date of birth: {{employee.Date_of_birth}}</span>
        <span>Email: {{employee.email}}</span>
        <span> {{employee.phonenumber}}</span>
        <div>
            <p class="titles">Adress</p>
            <span>City: {{employee.City}}</span>
            <span>Address: {{employee.Address}}</span>
            <span>ZIP code: {{employee.Code}}</span>
            <div><p class="titles">Attendance:</p> 

                  {{#each employee.Logs}}
                    <li>
                        {{this}}
                        
                    </li>
                    {{/each}}
                
                </div>
        </div>
        
      </div>
    </div>
</div>

