<div class="row">
    <div class="col s12 m9">
        <h3>{{employee.First_Name}} {{employee.Last_Name}}</h3>
        <span>{{employee.Gender}}</span>
        <p>Info</p>
        <div>
            <p>Adress</p>
            {{employee.City}}
            {{employee.Address}}
            {{employee.Code}}
        </div>

    </div>
</div>